Content/Core/Characters/Protagonist/MH_Protagonist.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MH_Protagonist/Body/Baked/T_Body_SRMF_VT.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MH_Protagonist/Face/Baked/T_Head_LOD5to7_SRMF.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MH_Protagonist/Face/Baked/T_Head_SRMF_VT.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MH_Protagonist/Face/SKM_MH_Protagonist_FaceMesh.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MH_Protagonist/Grooms/Hair_S_UpdoBuns.uasset filter=lfs diff=lfs merge=lfs -text
